body {
	margin:0;
	padding: 0;
	color: white;
	background-color: white;
}/*
#canvas{
	width: 25%;
  	padding: 10px;
  	border: 1px solid white;
  	margin: 0; 
  	background-color: gray;
} 
input {
	width: 80%;
	padding: 7px;
	margin: 8px;

}
*/
